@font-face {
    font-family: 'FivoSans-Heavy';
    src: url('font/FivoSans-Heavy/FivoSans-Heavy.woff2') format('woff2'),
        url('font/FivoSans-Heavy/FivoSans-Heavy.woff') format('woff'),
        url('font/FivoSans-Heavy/FivoSans-Heavy.ttf') format('truetype'),
        url('font/FivoSans-Heavy/FivoSans-Heavy.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSans-Medium';
    src: url('font/FivoSans-Medium/FivoSans-Medium.eot');
    src: url('font/FivoSans-Medium/FivoSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/FivoSans-Medium/FivoSans-Medium.woff2') format('woff2'),
        url('font/FivoSans-Medium/FivoSans-Medium.woff') format('woff'),
        url('font/FivoSans-Regular/FivoSans-Regular.ttf') format('truetype'),
        url('font/FivoSans-Regular/FivoSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSans-Regular';
    src: url('font/FivoSans-Regular/FivoSans-Regular.eot');
    src: url('font/FivoSans-Regular/FivoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/FivoSans-Regular/FivoSans-Regular.woff2') format('woff2'),
        url('font/FivoSans-Regular/FivoSans-Regular.woff') format('woff'),
        url('font/FivoSans-Regular/FivoSans-Regular.ttf') format('truetype'),
        url('font/FivoSans-Regular/FivoSans-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSans-Oblique';
    src: url('font/FivoSans-Oblique/FivoSans-Oblique.eot');
    src: url('font/FivoSans-Oblique/FivoSans-Oblique.eot?#iefix') format('embedded-opentype'),
        url('font/FivoSans-Oblique/FivoSans-Oblique.woff2') format('woff2'),
        url('font/FivoSans-Oblique/FivoSans-Oblique.woff') format('woff'),
        url('font/FivoSans-Oblique/FivoSans-Oblique.ttf') format('truetype'),
        url('font/FivoSans-Oblique/FivoSans-Oblique.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSans-Bold';
    src: url('font/FivoSans-Bold/FivoSans-Bold.eot');
    src: url('font/FivoSans-Bold/FivoSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/FivoSans-Bold/FivoSans-Bold.woff2') format('woff2'),
        url('font/FivoSans-Bold/FivoSans-Bold.woff') format('woff'),
        url('font/FivoSans-Bold/FivoSans-Bold.ttf') format('truetype'),
        url('font/FivoSans-Bold/FivoSans-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FivoSans-Light';
    src: url('font/FivoSans-Light/FivoSans-Light.eot');
    src: url('font/FivoSans-Light/FivoSans-Light.eot?#iefix') format('embedded-opentype'),
        url('font/FivoSans-Light/FivoSans-Light.woff2') format('woff2'),
        url('font/FivoSans-Light/FivoSans-Light.woff') format('woff'),
        url('font/FivoSans-Light/FivoSans-Light.ttf') format('truetype'),
        url('font/FivoSans-Light/FivoSans-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
	margin: 0 auto;
	padding: 0;
	font-family: 'FivoSans-Regular';
	font-size: 18px;
	line-height: 20px;
    color: #000;
    max-width: 1920px;
}

.wrapper-header {
    min-height: 1334px;    
    background-color: #ffffff;
    background-image: 
    url(img/bg.png);
	background-repeat: no-repeat;
    background-position: top center; 
}

.wrapper {
    width: 1423px;
    margin: 0 auto;
    padding: 0;
}

.navigate {
    display: flex;
    margin-bottom: 150px;
    padding-top: 80px;    
}

.navigate-header-logo {
	margin: 0;
    padding: 0;
    margin-right: 548px;
	font-size: 32px;
	line-height: 48px;
    font-family: 'FivoSans-Heavy';
    font-weight: 900;
	color: #ff6a6d;
}

.navigate-menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
	margin: 0;
    padding: 0;
    margin-top: 8px;
}

.navigate-menu__click {
	margin: 0;
	padding: 0;
	text-decoration: none;
	line-height: 36px;
	font-family: 'FivoSans-Regular';
	color: #1c2056;
    text-transform: capitalize;
	margin-right: 69px;
}

.home {
    color: #ff6a6d;
    font-weight: 700;
}

.navigate-menu li:last-child a{
	margin-right: 110px;
}

.navigate-menu__click:hover {
    transition: color 0.3s ease;
    color: #ff6a6d;
}

.navigate-menu__click:active {
    opacity: .5; 
}

.button {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    padding-top: 2px;
    text-align: center;
	background-color: #ff6a6d;
    word-wrap: break-word;
    border-radius: 20px;
    min-width: 140px;
    min-height: 42px;        
}

.button-login {
	line-height: 36px;
	color: #ffffff;
	text-decoration: none;
}  

.button-login:hover {
    transition: all 0.5s ease;
    transform: translateY(-10px);
    box-shadow: 0 5px 5px 1px rgba(226, 88, 91, 0.4); 
}

.button-login:active {
    transition: all 1s ease;
    box-shadow: inset 0 0 15px 2px #ff585b; 
}

.container-text {
    margin-left: 120px;
    margin-right: 710px;
}

.container-text h2 {
    font-family: 'FivoSans-Bold';
	font-size: 50px;
	line-height: 61px;
    color: #000;
    margin: 0;
    margin-bottom: 65px;
}
.container-text p {
    font-family: 'FivoSans-Light';
    line-height: 40px;
    color: #88a3a2;
    padding: 0;
    margin: 0;
    padding-right: 95px;
}

.content-text.item {
    margin-bottom: 70px;
}

.button-big {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    min-width: 240px;
    min-height: 80px;
    border: 2px solid #ff6a6d;
    margin-right: 30px;
    border-radius: 40px;
    font-size: 20px;
    line-height: 40px;
    color: #ffffff;
}

.button-service {
    background-color: #ff6a6d;
    cursor: pointer;
    box-shadow: -16px 16px 23.52px 0.48px rgba(226, 88, 91, 0.45);
}

.button-sign-up {
    background: transparent;
    cursor: pointer;
    color: #ff6a6d;
}

.button-service:hover,
.button-sign-up:hover {  
    transition: all 0.5s ease;
    transform: translateY(-10px);
}

.button-service:active,
.button-sign-up:active {  
    background-color: green;
    color: yellow;
    border: none;
}

/* ------------------   1   БЛОК    -------------------------------- */


.container-one-item {
    font-family: 'FivoSans-Bold';
	font-size: 50px;
	line-height: 61px;
    color: #000;
    text-align: center;
    margin: 0;
    margin-bottom: 35px;
}

.container-one-text {
	font-family: 'FivoSans-Light';
	line-height: 40px;
    color: #88a3a2;
    text-align: center;
    margin: 0;
    padding: 0;
    padding: 0 350px;
    margin-bottom: 115px;
}

.container-one-features {
    display: flex;
    position: relative;
    margin-bottom: 250px;
    justify-content: space-between;
}

.features {
    width: 466px;
    text-align: center;
}

.featured-item {
	font-family: 'FivoSans-Bold';
	font-size: 24px;
	line-height: 61px;
    color: #000;
    text-align: center;
    margin-bottom: 18px;
}

.feature-text {
    font-family: 'FivoSans-Light';
	line-height: 27px;
    color: #88a3a2;
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 0 80px;
}
/* ---------------------  2 БЛОК ------------------------------------ */

.container-two {
    position: relative;
}

.wrapper.two {
    display: flex;
}

.container-two::before {
    content: "";
    position: absolute;
    width: 229px;
    height: 377px;
    background-image: url(img/decorate-2.png);
    background-repeat: no-repeat;
    left: 0;
    bottom: 47%;
}
.container-two::after {
    content: "";
    position: absolute;
    width: 135px;
    height: 485px;
    background-image: url(img/decorate-1.png);
    background-repeat: no-repeat;
    right: 0;
    top: -115px;
}

.container-two-block {
    width: 555px;
    margin-bottom: 440px;
}

.container-two img {
    padding-right: 50px;
}

.container-two h2 {
	font-family: 'FivoSans-Bold';
	font-size: 50px;
	line-height: 61px;
    color: #000;
    margin: 0;
    padding-top: 30px;
    margin-bottom: 65px;
}

.doings__items {
    font-family: 'FivoSans-Bold';
	font-size: 24px;
	line-height: 40px;
    color: #656565;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 65px;
    position: relative;
}

.doings__items::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 24px;
    left: -45px;
    background-image: url("img/checkbox.png");
    background-repeat: no-repeat;
}

.doings__text {
    font-family: 'FivoSans-Light';
	line-height: 40px;
    color: #88a3a2;
    margin: 0;
    margin-bottom: 45px;
    margin-left: 65px;
}

/* ------------------   3 БЛОК  -------------------------------------- */

.container-three-block {
    width: 740px;
    margin-right: 680px;
    margin-bottom: 290px;
    position: relative;
}

.container-three-block span {
    font-family: 'FivoSans-Oblique';
    font-size: 20px;
	line-height: 40px;
    color: #9e9f9f;
    margin-bottom: 15px;
    padding-left: 55px;
}

.container-three-block h2 {
    margin: 0;
    font-family: 'FivoSans-Bold';
	font-size: 50px;
	line-height: 61px;
    color: #3b3838;
    margin-bottom: 70px;
    padding-left: 55px;
}

.container-three-block p {
    margin: 0;
    padding: 0;
    font-family: 'FivoSans-Light';
	line-height: 40px;
    color: #88a3a2;
    margin-bottom: 70px;
    padding: 0 220px 0 110px;
}

.container-three-block a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'FivoSans-Oblique';
	line-height: 40px;
    color: #3cbef1;
    margin-bottom: 15px;
    padding-left: 110px;
}

.container-three-block:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 710px;
    width: 661px;
    height: 640px;
    background-image: url("img/healing.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ----------------     4    БЛОК    --------------------------------------- */

.container-four {
    display: flex;
    position: relative;
}

.wrapper.four {
    display: flex;
}

.container-four-block {
    width: 680px;
    margin-bottom: 190px;
}

.container-four img{
    padding-top: 40px;
    padding-right: 60px;
}

.container-four::before {
    content: "";
    position: absolute;
    width: 219px;
    height: 445px;
    background-image: url(img/decorate-3.png);
    background-repeat: no-repeat;
    left: 0;
    top: -360px;
}

.container-four::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 600px;
    background-image: url(img/decorate-4.png);
    background-repeat: no-repeat;
    right: 0;
    top: -320px;
}

.container-four-block h2 {
    margin: 0;
    padding: 0;
    font-family: 'FivoSans-Bold';
	font-size: 45px;
	line-height: 67px;
    color: #3b3838;
    margin-bottom: 100px;
}

.container-four-block p {
    margin: 0;
    padding: 0;
    font-family: 'FivoSans-Light';
	line-height: 40px;
    color: #88a3a2;
    margin-bottom: 70px;
    padding: 0 0 0 110px;
    text-indent: 52px;
}

.container-four-block p:first-of-type {
    margin: 0;
}

.container-four-block a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'FivoSans-Oblique';
	line-height: 40px;
    color: #3cbef1;
    margin-bottom: 15px;
    padding-left: 110px;
}

/* -----------------    FOOTER  ----------------------------------- */

footer {
    background-image: url(img/footer-img.jpg);
    background-repeat: no-repeat;
    width: 1920px;
    background-position: center 0;
}

.container-price {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    padding-top: 17px;
    margin-bottom: 206px;
}

.price-cart-one,
.price-cart-three {
    width: 473px;
    height: 689px;
    border-radius: 20px;
    background-color: #ffffff;
    margin-top: 43px;
    position: relative;
}

.price-cart-two {
    z-index: 1;
    width: 502px;
    height: 771px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: -24px 28px 136px 0px rgba(226, 88, 91, 0.19);
    position: relative;
}

.price-cart-one {
box-shadow: -27px 32px 35px 0px rgba(255, 106, 109, 0.15); 
}

.price-cart-three {
    box-shadow: 27px 32px 35px 0px rgba(255, 106, 109, 0.15); 
}

.price-cart-three h3 {
    margin: 0;
    padding: 0;
    font-family: 'FivoSans-Bold';
	font-size: 30px;
	line-height: 29px;
    color: #7a7a7a;
    margin-top: 70px;
    margin-bottom: 50px;
}

.price-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.price-list__subtitle {
    margin: 0;
	padding: 0;
	text-decoration: none;
	line-height: 29px;
	font-family: 'FivoSans-Regular';
	color: #3b3838;
    text-transform: capitalize;
    padding-left: 130px;
    padding-bottom: 39px;
    text-align: left;
    position: relative;
}

.price-list__subtitle:last-of-type {
    margin-bottom: 40px;
}
.subtitle-up {
    margin-top: 80px;
}

.checkbox-blue:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(img/checkbox-blue.png);
    background-repeat: no-repeat;
    left: 65px;
    top: -5px;
}

.price-list__text{
    padding: 0;
    margin: 0;
    font-size: 150px;
	line-height: 29px;
	font-family: 'FivoSans-Regular';
    color: #7e7c7c;
    vertical-align: baseline;
}

.price-list__text sup {
    font-size: 48px;
	line-height: 29px;
	font-family: 'FivoSans-Regular';
    color: #7e7c7c;
    vertical-align: text-top;
}

.price-list__text sub {
    font-size: 30px;
	line-height: 29px;
	font-family: 'FivoSans-Regular';
	color: #7e7c7c;
    vertical-align: bottom;
}

.price-list__text-subtext {
    margin: 0;
    padding: 0;
    font-family: 'FivoSans-Oblique';
	line-height: 29px;
    color: #888686;
    margin-top: 37px;
    margin-bottom: 55px;
}

.button-member-one {
    display: inline-block;
    vertical-align: top;
    text-align: center;
	background-color:rgba(95,206,245,1);
    word-wrap: break-word;
    border-radius: 37px;
    text-decoration: none;
    line-height: 29px;
    color: #ffffff;
    font-family: "FivoSans-Medium";
    background: linear-gradient(66deg, rgba(95,206,245,1) 0%, rgba(131,228,252,1) 100%);
    box-shadow: -13px 16px 23.52px 0.48px rgba(95, 206, 244, 0.29);
    padding: 23px 31px;
}

.button-member-three {
    display: inline-block;
    vertical-align: top;
    text-align: center;
	background-color:rgba(33,172,221,1);
    word-wrap: break-word;
    border-radius: 37px;
    text-decoration: none;
    line-height: 29px;
    color: #ffffff;
    font-family: "FivoSans-Medium";
    background: linear-gradient(66deg, rgba(33,172,221,1) 0%, rgba(157,218,233,1) 100%);
    box-shadow: -13px 16px 23.52px 0.48px rgba(95, 206, 244, 0.29);
    padding: 23px 31px;
}

.price-cart-two h3 {
    margin: 0;
    padding: 0;
    font-family: 'FivoSans-Bold';
	font-size: 30px;
	line-height: 29px;
    color: #fbfcfc;
    background-color: #ff6a6d;
    border-radius: 20px 20px 0 0;
    padding: 40px 0 40px 0;
    margin-bottom: 64px;
}

.checkbox-red::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 38px;
    background-image: url(img/checkbox-red.png);
    background-repeat: no-repeat;
    left: 65px;
    top: -5px;
}

.button-member-two {
    display: inline-block;
    vertical-align: top;
    text-align: center;
	background-color:#ff6a6d;
    word-wrap: break-word;
    border-radius: 37px;
    text-decoration: none;
    line-height: 29px;
    color: #ffffff;
    font-family: "FivoSans-Medium";
    box-shadow: -13px 16px 23.52px 0.48px rgba(226, 88, 91, 0.29);    padding: 23px 31px;
}

/* ---------------- */
.container-footer {
    margin: 0 auto;
    background-color:  rgba(255, 255, 255, 0.5);
    width: 1423px;
    border-radius: 176px 176px 0 0;
}

.container-link {
    margin: 0 auto;
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 116px 160px 110px 160px;
}

.link-header {
	padding: 0;
	font-family: 'FivoSans-Regular';
	line-height: 40px;
    color: #2e2e2e;
    text-transform: uppercase;
}

.link-contact {
    padding: 0;
    font-size: 16px;
	font-family: 'FivoSans-Regular';
	line-height: 30px;
    color: #56686c;
}

.link-text {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link-subtext{
    padding: 0;
    font-size: 16px;
	font-family: 'FivoSans-Regular';
    line-height: 36px;
    padding-bottom: 7px;
}

.link-subtext a{
    text-decoration: none;
    color: #2e2e2e;
}

.text-copyright {
    margin: 0;
    padding: 0;
    text-align: center;
	font-family: 'FivoSans-Regular';
    line-height: 36px;
}